<?xml version="1.0"?>
<extension>
    <id>developer_tools</id>
    <version>1.4.0</version>
	<type>extensions</type>
	<category>Development</category>
    <cartversions>
	    <item>1.4.0</item>
   </cartversions>
    <priority>10</priority>
    <settings>
        <item id="developer_tools_status">
            <type>checkbox</type>
            <default_value>0</default_value>
        </item>
    </settings>
    <install>
	    <trigger>install.php</trigger>
	</install>
	<uninstall>
	    <trigger>uninstall.php</trigger>
	</uninstall>
	<note>true</note>
	<help_file><![CDATA[help.txt]]></help_file>
	<help_link><![CDATA[https://www.abantecart.com/ecommerce-documentation/developers]]></help_link>
</extension>
